<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dubtrack.fm</title>
	<meta name="description" content="Dubtrack.FM is a social DJ site where users can share and discover the latest and greatest by tuning in to user-generated playlist">

	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes">

	<meta property="og:image" content="https://mediadubtrackfm.s3.amazonaws.com/assets/images/media/pic_notfound.jpg"/>
	<meta property="og:title" content="Dubtrack.fm"/>
	<meta property="og:url" content="http://www.dubtrack.fm/"/>
	<meta property="og:site_name" content="Dubtrack.fm"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="Dubtrack.FM is a social DJ site where users can share and discover the latest and greatest by tuning in to user-generated playlist"/>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@dubtrack_fm">
	<meta name="twitter:title" content="Dubtrack.fm">
	<meta name="twitter:description" content="Dubtrack.FM is a social DJ site where users can share and discover the latest and greatest by tuning in to user-generated playlist">
	<meta name="twitter:creator" content="@dubtrack_fm">
	<meta name="twitter:image:src" content="https://mediadubtrackfm.s3.amazonaws.com/assets/images/media/pic_notfound.jpg">
	<meta name="twitter:domain" content="Dubtrack.fm">

	<meta name="google-site-verification" content="lI-Y7fjpZEb8XdvcsAaVIrZIETcYLuvokxdhKQbFwbo" />

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<meta name="msapplication-TileColor" content="#9f00a7">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">

<% if(process.env.ENVIRONMENT == 'production'){ %>
	<link rel="stylesheet" href="//dubtrack-fm.s3.amazonaws.com/assets/css/main.css?v=<%= cache_busting %>" />
<% } else if(process.env.ENVIRONMENT == 'staging') { %>
	<link rel="stylesheet" href="//dubtrack-fm.s3.amazonaws.com/assets/css/main.beta.css?v=<%= cache_busting %>" />
<% } else { %>
	<link rel="stylesheet" href="/assets/css/main.css" />
<% } %>
	<script type="text/javascript" src="//dubtrack-fm.s3.amazonaws.com/assets/js/lib/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript" src="//use.typekit.net/lpm1tnb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-46880090-1', 'auto');
	ga('send', 'pageview');
	</script>
</head>
<body class="no-song-playing">
	<menu id="mobile-room-menu">
		<a href="#" class="player-button active" data-display="player">Player</a>
		<a href="#" class="chat-button" data-display="chat">Chat</a>
	</menu>

	<nav id="main-menu-right">
		<a href="#" class="close-menu">
			<span class="icon-close"></span>
		</a>
		<section id="private-messages">
			<div class="loading">loading...</div>
			<div class="main-message-list" id="main-message-list">
				<header class="message-header">
					<div class="user_selected_items">
					</div>

					<input type="text" name="new-message-input" id="new-message-input" placeholder="New private message" />
					<div class="search-results">
						<div class="search-results-users"></div>
					</div>
					<span class="icon-plus-alt" id="create-new-message"></span>
				</header>

				<div class="private-message-info">
					To create a new private message select the users by typing their name and clicking on <span class="icon-plus-alt"></span> (you can add up to 10 ppl per message)
				</div>

				<div class="message-list-wrapper">
					<div class="message-list-wrapper-inner">
						<ul class="message-list">
						</ul>
					</div>
				</div>

			</div>
			<div class="message-details">
				<header class="message-header">
					<a href="#">Back</a>
				</header>

				<div class="private-message-details-info">
					Enter your message bellow to start the conversation
				</div>

				<div class="message-list-wrapper">
					<div class="message-list-wrapper-inner">
						<ul class="message-list">
						</ul>
					</div>
				</div>

				<div class="input-container">
					<input type="text" name="message-input" id="message-input" placeholder="Enter your message here..." />
				</div>
			</div>
		</section>
	</nav>
	<nav id="main-menu-left">
		<a href="#" class="close-menu">
			<span class="icon-close"></span>
		</a>
		<a href="/lobby" class="navigate lobby-link">Lobby</a>
		<a href="#" class="navigate room-active-link"><span class="current-room"></span></a>
		<a href="mailto:support@dubtrack.fm" target="_blank">Contact</a>
		<div class="social-links">
			<a href="https://www.facebook.com/dubtrackfm" class="facebook" target="blank"><span class="icon-facebook"></span></a>
			<a href="https://twitter.com/dubtrack_fm" class="twitter" target="blank"><span class="icon-twitter"></span></a>
		</div>
		<a href="/login/logout" class="logout-link"><span class="icon-logout"></span> Log out</a>
	</nav>

	<header id="header-global">
		<div class="header-left-navigation">
			<h1><span>Dubtrack.fm</span></h1>
			<a href="/lobby" class="navigate lobby-link">Lobby</a>
			<a href="#" class="navigate room-active-link" id="main-room-active-link"><span class="icon-chevron"></span><span class="room-name"></span></a>
		</div>
	</header>

	<section class="main-page-container">
		<section id="main-section">
			<%-body -%>
			<section id="room-list" class="dubtrack-section">
				<div class="room-lobby-header">
					<div class="room-search">
						<input type="text" id="room-search" placeholder="Search for a room..." />
						<i class="icon-search"></i>
					</div>
					<div class="links-container">
						<a href="#" class="create-room">Create room</a>
						<a href="https://www.facebook.com/dubtrackfm" class="facebook" target="blank"><span class="icon-facebook"></span></a>
						<a href="https://twitter.com/dubtrack_fm" class="twitter" target="blank"><span class="icon-twitter"></span></a>
					</div>
				</div>
				<div id="container-room-list">
				</div>
			</section>
			<section id="profileMainSection" class="dubtrack-section">
			</section>

			<section id="main-room" class="dubtrack-section">
				<div class="main-room-wrapper">
					<section class="left_section">
						<div class="main-player-wrapper">
							<section id="main_player">
								<div class="player_header">
									<span class="skip-el">Skip</span>
									<span class="displayVideo-el active">Video</span>
									<span class="display-queue">Queue</span>
									<span class="room-info-display">Info</span>
									<span class="display-mods-controls">Mod</span>
									<span class="edit-room"><i class="icon-chatsettings"></i></span>
								</div>
								<div id="room-info-display">
									<div class="room-info-display-wrapper">
									</div>
								</div>
								<div id="mods-controllers">
									<div class="mods-controllers-main-wrapper">
										<div class="mod-controllers-headers">
											<a href="#" class="active display-mods-controls">Controls</a>
											<a href="#" class="display-ban-list">Ban list</a>
											<a href="#" class="display-mute-list">Mute list</a>
										</div>
										<div class="mods-controllers-wrapper">
											<div class="mods-controllers-commands-list show-controller">
												<div class="mods-controller-container">
													<h2>Song controls</h2>
													<div class="skip-el">
														<i class="icon-skip"></i> Skip current song
													</div>

													<h2>User controls <span>Type command into the chat field</span></h2>

													<ul class="chat-command-list">
														<li>
															Skip current song
															<span class="actions">/skip</span>
														</li>
														<li>
															Ban someone
															<span class="actions">/ban @username</span>
														</li>
														<li>
															Unban someone
															<span class="actions">/unban @username</span>
														</li>
														<li>
															Kick someone out
															<span class="actions">/kick @username</span>
														</li>
														<li>
															Ban someone temporarily
															<span class="actions">/ban @username x</span>
														</li>
														<li>
															Mute quitely someone
															<span class="actions">/mute @username</span>
														</li>
														<li>
															Unmute quitely someone
															<span class="actions">/unmute @username</span>
														</li>
														<li>
															Set someone as co-owner
															<span class="actions">/setowner @username</span>
														</li>
														<li>
															Remove someone as co-owner
															<span class="actions">/unsetowner @username</span>
														</li>
														<li>
															Set someone as moderator
															<span class="actions">/setmod @username</span>
														</li>
														<li>
															Remove someone as moderator
															<span class="actions">/unsetmod @username</span>
														</li>
														<li>
															Set someone as manager
															<span class="actions">/setmanager @username</span>
														</li>
														<li>
															Remove someone as manager
															<span class="actions">/unsetmanager @username</span>
														</li>
														<li>
															Set someone as resident dj
															<span class="actions">/setdj @username</span>
														</li>
														<li>
															Remove someone as resident dj
															<span class="actions">/unsetdj @username</span>
														</li>
														<li>
															Set someone as VIP
															<span class="actions">/setvip @username</span>
														</li>
														<li>
															Remove someone as VIP
															<span class="actions">/unsetvip @username</span>
														</li>
													</ul>
												</div>
											</div>
											<div class="mods-controllers-ban-list">
												<div class="mods-controller-container">
													<ul class="user-list">
													</ul>
												</div>
											</div>
											<div class="mods-controllers-mute-list">
												<div class="mods-controller-container">
													<ul class="user-list">
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="player_container">
									<div id="custom_iframe_embed">
									</div>
									<div id="custom_iframe_embed_error">
										Invalid embed url
									</div>
									<div id="room-main-player-container">
										<div id="room-main-player-container-youtube"></div>
										<div id="room-main-player-container-soundcloud"></div>
									</div>
									<div class="loading loading-el">
										<div class="loading-el-wrapper">
											<svg width='188px' height='188px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-spin"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="translate(50 50)"><g transform="rotate(0) translate(34 0)"><circle cx="0" cy="0" r="8" fill="#00ffff"><animate attributeName="opacity" from="1" to="0.1" begin="0s" dur="1s" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="scale" from="1.5" to="1" begin="0s" dur="1s" repeatCount="indefinite"></animateTransform></circle></g><g transform="rotate(45) translate(34 0)"><circle cx="0" cy="0" r="8" fill="#00ffff"><animate attributeName="opacity" from="1" to="0.1" begin="0.12s" dur="1s" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="scale" from="1.5" to="1" begin="0.12s" dur="1s" repeatCount="indefinite"></animateTransform></circle></g><g transform="rotate(90) translate(34 0)"><circle cx="0" cy="0" r="8" fill="#00ffff"><animate attributeName="opacity" from="1" to="0.1" begin="0.25s" dur="1s" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="scale" from="1.5" to="1" begin="0.25s" dur="1s" repeatCount="indefinite"></animateTransform></circle></g><g transform="rotate(135) translate(34 0)"><circle cx="0" cy="0" r="8" fill="#00ffff"><animate attributeName="opacity" from="1" to="0.1" begin="0.37s" dur="1s" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="scale" from="1.5" to="1" begin="0.37s" dur="1s" repeatCount="indefinite"></animateTransform></circle></g><g transform="rotate(180) translate(34 0)"><circle cx="0" cy="0" r="8" fill="#00ffff"><animate attributeName="opacity" from="1" to="0.1" begin="0.5s" dur="1s" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="scale" from="1.5" to="1" begin="0.5s" dur="1s" repeatCount="indefinite"></animateTransform></circle></g><g transform="rotate(225) translate(34 0)"><circle cx="0" cy="0" r="8" fill="#00ffff"><animate attributeName="opacity" from="1" to="0.1" begin="0.62s" dur="1s" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="scale" from="1.5" to="1" begin="0.62s" dur="1s" repeatCount="indefinite"></animateTransform></circle></g><g transform="rotate(270) translate(34 0)"><circle cx="0" cy="0" r="8" fill="#00ffff"><animate attributeName="opacity" from="1" to="0.1" begin="0.75s" dur="1s" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="scale" from="1.5" to="1" begin="0.75s" dur="1s" repeatCount="indefinite"></animateTransform></circle></g><g transform="rotate(315) translate(34 0)"><circle cx="0" cy="0" r="8" fill="#00ffff"><animate attributeName="opacity" from="1" to="0.1" begin="0.87s" dur="1s" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="scale" from="1.5" to="1" begin="0.87s" dur="1s" repeatCount="indefinite"></animateTransform></circle></g></g></svg>
											<span>Loading...</span>
										</div>
									</div>
									<div class="loading playbtn-el">
										Play song
									</div>
									<div class="placeholder">
										<h5>Click on the <span>play <i class="icon-play"></i></span> button to begin</h5>
									</div>
								</div>
								<section class="player_sharing">
									<div class="player-controller-container">
										<div class="mute">
											<span class="icon-mute"></span>
											<span class="icon-sound-alt"></span>
										</div>
										<div class="volume-controller-container">
											<div id="volume-div"></div>
										</div>
										<span class="icon-reload refresh-el"></span>
										<div class="hideVideo-el">
											<span class="icon-eye-blocked"></span>
											<span class="icon-eye-unblocked"></span>
										</div>
										<span class="videoquality-el">HD</span>
									</div>

									<span class="icon-facebook" onclick="Dubtrack.playerController.shareFacebook();"></span>
									<span class="icon-twitter" onclick=Dubtrack.playerController.shareTwitter();></span>
								</section>
								<div class="play-song-link"><i class="icon-play"></i> Queue a song <span class="queue-info"></span></div>
							</section>
							<section id="room-comments">
							</section>
						</div>
					</section>
					<section class="right_section">
						<div id="main_avatar_room">
							<section id="avatar"></section>
						</div>

						<section id="chat">
						</section>
					</section>
				</div>
			</section>

			<section id="player-controller">
			</section>

			<div id="main-loading">
				<div class="loading-text">Loading...</div>
				<div class="spinner"></div>
			</div>
		</section>
	</section>

	<section id="login-model-window">
		<div class="login-model-container" id="login-window">
			<div class="login-model-container-wrapper">
				<span class="icon-remove-circle close-login-window"></span>
				<h1>LOGIN</h1>
				<h2>Join the Party</h2>

				<a href="/login/facebook" class="facebook-login"><i class="icon-facebook"></i>Sign in with Facebook</a>
				<a href="/login/twitter" class="twitter-login"><i class="icon-twitter"></i>Sign in with Twitter</a>
				<a href="/login/soundcloud" class="soudcloud-login"><i class="icon-soundcloud"></i>Sign in with soundcloud</a>

				<form action="/auth/dubtrack" method="post">
					<h3>Or enter your email</h3>
					<input type="text" id="login-input-username" name="username" value="" placeholder="Email or username" required maxlength="250" />
					<input type="password" value="" id="login-input-password" name="password" placeholder="password" required maxlength="250" />
					<div class="err-message"></div>
					<input type="submit" value="Sign in" />
				</form>

				<div class="success-message"></div>

				<div class="account-actions">
					<a href="/forgot">Forgot password?</a>
					<a href="/signup">Need an account?</a>
				</div>
			</div>
		</div>

		<div class="login-model-container" id="login-create-window">
			<div class="login-model-container-wrapper">
				<span class="icon-remove-circle close-login-window"></span>
				<h1>CREATE ACCOUNT</h1>
				<h2>Join the Party</h2>

				<a href="/login/facebook" class="facebook-login"><i class="icon-facebook"></i>Sign up with facebook</a>
				<a href="/login/twitter" class="twitter-login"><i class="icon-twitter"></i>Sign up with twitter</a>
				<a href="/login/soundcloud" class="soudcloud-login"><i class="icon-soundcloud"></i>Sign up with soundcloud</a>

				<form action="/auth/signup">
					<h3>Or register with your email</h3>
					<input type="email" autocomplete="off" id="login-create-input-email" name="email" value="" placeholder="Email" required maxlength="250" />
					<input type="text" id="login-create-input-username" name="username" value="" placeholder="username" required maxlength="250" />
					<div class="err-message"></div>
					<div class="captcha-loading">LOADING reCAPTCHA....</div>
					<div id="g-recaptcha" data-sitekey="6LdxrQ0TAAAAABwuFOi89IV76oDnS5CFe7U5B1Er"></div>
					<input type="submit" value="create an account" />
				</form>

				<div class="success-message"></div>

				<div class="account-actions account-actions-single">
					<a href="/login">Have an account?</a>
				</div>
			</div>
		</div>

		<div class="login-model-container" id="login-forgot-window">
			<div class="login-model-container-wrapper">
				<span class="icon-remove-circle close-login-window"></span>
				<h1>FORGOT PASSWORD</h1>
				<h2>Join the Party</h2>

				<form action="/auth/reset" method="post">
					<input type="email" autocomplete="off" id="login-forgot-input-email" name="email" value="" placeholder="Email" required maxlength="250" />
					<div class="err-message"></div>
					<input type="submit" value="reset password" />
				</form>

				<div class="success-message"></div>

				<div class="account-actions account-actions-single">
					<a href="/login">Have an account?</a>
				</div>
			</div>
		</div>

		<div class="login-model-container" id="login-chage-password-window">
			<div class="login-model-container-wrapper">
				<span class="icon-remove-circle close-login-window"></span>
				<h1>SET PASSWORD</h1>
				<h2>Join the Party</h2>

				<form action="/auth/change-password" method="post">
					<input type="password" id="login-change-input-password" name="password" value="" placeholder="password" required maxlength="250" />
					<input type="password" id="login-change-input-password2" name="password2" value="" placeholder="repeat password" required maxlength="250" />
					<div class="err-message"></div>
					<input type="submit" value="set password" />
					<input type="hidden" name="token" value="" />
				</form>

				<div class="success-message"></div>

				<div class="account-actions account-actions-single">
					<a href="/login">Have an account?</a>
				</div>
			</div>
		</div>
	</section>

	<section id="browser"></section>

	<div class="dubtrack_overlay"></div>
	<script src="//cdn.pubnub.com/pubnub.min.js"></script>
<% if(process.env.ENVIRONMENT == 'production'){ %>
	<script type="text/javascript" src="//dubtrack-fm.s3.amazonaws.com/assets/js/includes.min.js?v=<%= cache_busting %>"></script>
	<script type="text/javascript" src="//dubtrack-fm.s3.amazonaws.com/assets/js/dubtrack/lang/en_US.js?v=<%= cache_busting %>"></script>
	<script type="text/javascript" src="//dubtrack-fm.s3.amazonaws.com/assets/js/dubtrack.min.js?v=<%= cache_busting %>"></script>
<% } else if(process.env.ENVIRONMENT == 'staging') { %>
	<script type="text/javascript">
		window.DUBTRACK_API_URL = "//origin-api.dubtrack.fm";
	</script>
	<script type="text/javascript" src="//dubtrack-fm.s3.amazonaws.com/assets/js/includes.beta.min.js?v=<%= cache_busting %>"></script>
	<script type="text/javascript" src="//dubtrack-fm.s3.amazonaws.com/assets/js/dubtrack/lang/en_US.js?v=<%= cache_busting %>"></script>
	<script type="text/javascript" src="//dubtrack-fm.s3.amazonaws.com/assets/js/dubtrack.beta.min.js?v=<%= cache_busting %>"></script>
<% } else { %>
	<script type="text/javascript">
		window.DUBTRACK_API_URL = "<%= api_url %>";
	</script>
	<script type="text/javascript" src="/assets/js/includes.js"></script>
	<script type="text/javascript" src="/assets/js/dubtrack/lang/en_US.js"></script>
	<script type="text/javascript" src="/assets/js/dubtrack.js"></script>
<% } %>
	<script type="text/javascript">
		function onRecaptchaloadCallback(){
			captcha = grecaptcha.render('g-recaptcha', {
				'sitekey': '6LdxrQ0TAAAAABwuFOi89IV76oDnS5CFe7U5B1Er',
			});

			$('.captcha-loading').remove();
		}

		function onYouTubeIframeAPIReady() {
			(function() {
				Dubtrack.init();
			}(jQuery, Dubtrack));
		}
	</script>
	<script type="text/javascript" src="//www.youtube.com/iframe_api" async></script>
	<!-- Start Alexa Certify Javascript -->
	<script type="text/javascript">
	_atrk_opts = { atrk_acct:"GBF5m1aQpne1bm", domain:"dubtrack.fm",dynamic: true};
	(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
	</script>
	<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=GBF5m1aQpne1bm" style="display:none" height="1" width="1" alt="" /></noscript>
	<!-- End Alexa Certify Javascript -->
</body>

</html>
